@import "tailwindcss";

@theme {
  --color-border: #313244;
  --color-border-2: #45475a;
  --color-text: #cdd6f4;
  --color-text-2: #7f849c;
  --color-bg-1: #1e1e2e;
  --color-bg-2: #181825;
  --color-mauve: #cba6f7;
  --color-red: #f38ba8;
  --color-green: #a6e3a1;
  --color-blue: #89b4fa;
  --color-lavender: #b4befe;
  --color-crust: #11111b;
  --color-overlay1: #7f849c;
}
body {
    font-family: "Segoe UI", -apple-system, BlinkMacSystemFont, sans-serif;
    background-color: --color-bg-1;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}